.dsmeta-red-btn {
    height: 40px;
    width: 40px;
    background: rgba(203, 177, 177, 0.647);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dsmeta-red-btn img {
    width: 20px;